
body{
  background: #eee;
  font-family: Lato;
  background: linear-gradient(to right,#fff, #fff,rgba(255,255,255,0.77)), url(../assets/img/delta-map.png) center fixed no-repeat;
  background-size: cover;
}

.gradient-half{
  margin-top: -1px;
  width: 100vw;
  background: linear-gradient(to right, #3416c7e7, #11187e2d), url(../assets/img/delta-map.png);
  background-size: cover;
  left: 0;
  z-index: -1;
}

.logo-banner{
  top: 0;
  .logo{
    width: 30px;
    margin-left: -35px;
    margin-top: -6px;
    position: absolute;
  }

  h4{
    color: #fff;
    margin-left: 30px;

    span{
      color: rgb(255, 179, 0);
    }
  }
}

.app{
  width: 670px;
  border-radius: 10px;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: -200px;
  box-shadow: -1px 12px 50px 8px rgba(15,73,189,0.64);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 4px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
      background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
     background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}


.page{

  margin-top: -20px;
  padding: 20px 50px;

  h1{
    color: #fff;
    font-family: Lato;
  }

  p{
    color: rgba(255, 255, 255, 0.541);
  }
}

.join-btn{
  margin-left: 0px;
}


@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
    filter: blur(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    filter: blur(0px);

  }
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.btn-learn{
  position: absolute;
  top: 25px;
  right: 20px;
  border-radius: 50px;
  padding: 0px 20px;
  height: 40px;
  font-size: 13px;
}




.contributors{
  bottom: 40px;
  left: 40px;
  display: inline-block;
  animation-delay: 400ms;


  .contributor-avatar{
    width: 50px;
    border-radius: 50px;
    box-shadow: -1px 1px 8px 2px rgba(15,73,189,0.32);
    margin-right: 20px;
  }
}

.gradient-cover{
  bottom: 0px;
  height: 110px;
  width: 120px;
  background: linear-gradient(to right, #fff, rgba(255,255,255,0));
}

.built-by{
  bottom: 90px;
  z-index: 999;
  font-size: 12px;
  left: 40px;
  color: rgb(168, 164, 164);
  font-weight: 600;
}

.mobile{
  width: 150px;
  height: 290px;
  border-radius: 10px;
  background: url('../assets/img/mobile.jpg');
  background-size: cover;
  box-shadow: -1px 12px 50px 8px rgba(15,73,189,0.64);
  position: absolute;
  right: 100px;
  top: 300px;
  animation-delay: 400ms;
}

@media (max-width: 1180px){


  .mobile{
    display: none;
  }



  .app{
    width: 420px;
    margin: 0px;
    margin-top: 80px;
    border-radius: 10px;
  }

  .body-page{
    margin-top: 0px !important;
    .app-2{
      margin-bottom: 50px;
    }
  }

}

@media(max-width: 600px){
  .app{
    margin-top: 20px;
  }
}

@media(max-width: 320px){
  .btn-learn{
    display: none;
  }
}

.body-page{
  margin-top: 60px;
  padding: 45px;
}

.divider{
  background: #04befe;
  height: 4px;
  width: 35px;
  margin: 10px 0px;
}

.typed-text {
  color: #ffb300;
}

.brands{
  width: 200px;
  margin: 20px;
}